/* Base Application Styles */
body {
  color: #fff;
  background: #222;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

.hidden {
  display: none;
}

.pizza {
  background: url("https://media.giphy.com/media/26xBtRnYfs2mYF4vS/giphy.gif");
  background-size: cover;
  height: 130px;
  width: 200px;
  color: white;
}

.index {
  padding: 2.5vw;
  height: 90vh;
  width: 95vw;
}

.pizzaaaa {
  background: url("https://media.giphy.com/media/9PbtHUS6spuwg/giphy.gif");
}
